<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home page</h1>
    <a href="/sign-out">Sign Out</a>
    <main>
        <h2>
            <%=user.username%>
        </h2>
        <p>
            <%=user.bio%>
        </p>
        <p>
            <%=user.image_link%>
        </p>
        <img src="./images/<%=user.image_link%>" width="150px" alt="profile image">
    </main>
</body>

</html>