/* header */
.current-username{
    font-size: 20px;
}

.current-user-nav-btn{
    height: 40px;
    background: transparent;
    border: none;
    position: relative;
}
.current-user-nav-btn img{
    height: 100%;
}
.notification-count-main{
    background-color: orangered;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding-top: 3px;
    position: absolute;
    top: -5px;
    right: -10px;
}

.main-nav{
    position: relative;
}
.user-modal{
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 10px;
    width: max-content;
    background-color: white;
}
.user-modal.hide{
    display: none;
}
.user-modal a{
    color: #0b2249;
}
.user-modal p{
    font-weight: bold;
    color: #0b2249;
    font-size: 20px;
    text-transform: uppercase;
}
.notification-count-messages{
    color: orangered;
    padding-left: 16px;
}
/* css variables */
.user-modal .sign-out-btn{
    display: block;
    width: 100%;
    color: white;
    background-color: #32a9fb;
    border-radius: 5px;
}



/* main */
main{
    max-width: 700px;
    margin: 0 auto;
}
/* post  */
.post-image{
    width: 100%;
}